.content-wrapper {
  width: 1160px;
  margin: auto; }

body {
  color: #323232;
  background-color: #f2f2f2;
  position: relative;
  font-family: sans-serif, Arial;
  font-size: 14px;
  margin: 90px 0; }

a {
  text-decoration: none;
  color: inherit; }

input:focus {
  outline: none; }

@font-face {
  font-family: 'fonticons';
  src: url("../font/fonticons.eot?63670685");
  src: url("../font/fonticons.eot?63670685#iefix") format("embedded-opentype"), url("../font/fonticons.woff2?63670685") format("woff2"), url("../font/fonticons.woff?63670685") format("woff"), url("../font/fonticons.ttf?63670685") format("truetype"), url("../font/fonticons.svg?63670685#fonticons") format("svg");
  font-weight: normal;
  font-style: normal; }
.fa {
  font-family: "fonticons";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.fa-bookmark:before {
  content: '\e800'; }

.fa-search:before {
  content: '\e801'; }

.fa-down-open-big:before {
  content: '\e802'; }

.fa-right-dir:before {
  content: '\e803'; }

.fa-ok:before {
  content: '\e804'; }

.fa-location:before {
  content: '\e805'; }

.fa-cog-alt:before {
  content: '\e806'; }

.fa-brush:before {
  content: '\e807'; }

.fa-gamepad:before {
  content: '\f11b'; }

.fa-user-circle-o:before {
  content: '\f2be'; }

.fa-facebook-rect:before {
  content: '\f301'; }

.header {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  color: #0097ce;
  font-size: 18px;
  font-weight: lighter;
  border-bottom: solid 2px #e9e9e9;
  z-index: 100; }
  .header .search {
    display: inline-block;
    position: relative;
    margin: 0 20px;
    vertical-align: top; }
    .header .search input {
      height: 40px;
      margin-top: 10px;
      vertical-align: top;
      padding-left: 30px;
      border: none;
      font-size: inherit;
      font-weight: inherit; }
    .header .search input::placeholder {
      color: #0097ce;
      font-size: 18px;
      font-weight: lighter; }
    .header .search .fa-search {
      position: absolute;
      left: 0;
      line-height: 60px; }

.header-container {
  width: 1280px;
  margin: auto; }

.header-left-block {
  margin: 0;
  display: inline-block;
  vertical-align: top; }
  .header-left-block li {
    list-style: none;
    display: inline-block;
    vertical-align: top;
    width: 130px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    position: relative;
    cursor: pointer; }
    .header-left-block li:hover {
      height: 58px;
      border-bottom: solid 2px #dc315e; }
      .header-left-block li:hover div {
        display: block; }
    .header-left-block li div {
      display: none;
      position: absolute;
      background-color: #fff;
      padding: 0 12px;
      border-radius: 4px;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2); }
      .header-left-block li div a {
        display: block;
        min-width: 160px;
        text-align: left;
        padding-left: 16px;
        height: 50px;
        line-height: 50px; }

.user-info {
  background-color: #fff; }
  .user-info .user-name-actions {
    height: 180px;
    padding: 20px;
    box-sizing: border-box; }
    .user-info .user-name-actions div {
      display: inline-block;
      vertical-align: top; }
    .user-info .user-name-actions .user-logo {
      margin-right: 20px;
      width: 145px;
      height: 145px;
      border-radius: 50%;
      background-position: center center;
      vertical-align: middle; }
    .user-info .user-name-actions .user-name {
      margin-right: 45px;
      font-size: 22px;
      font-weight: bold;
      letter-spacing: 0.3px;
      width: 250px;
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
      vertical-align: middle; }
  .user-info .user-actions {
    text-align: center;
    margin: 0 20px;
    font-size: 12px;
    color: #8f8f8f;
    letter-spacing: 0.2px;
    width: 160px;
    vertical-align: middle; }
    .user-info .user-actions div {
      display: block;
      font-size: 20px;
      font-weight: bold;
      color: #656565; }
    .user-info .user-actions i {
      color: #999999;
      font-size: 30px;
      height: 30px;
      width: 30px;
      border: solid 1px;
      padding: 14px;
      border-radius: 50%;
      display: block;
      margin: 8px auto 18px auto; }
  .user-info .user-activities {
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 2px #dc315e; }
    .user-info .user-activities div {
      color: #dc315e;
      width: 386px;
      text-align: center;
      display: inline-block;
      height: 48px;
      line-height: 48px;
      font-weight: lighter;
      letter-spacing: 0.5px;
      border-right: solid 1px #e6e6e6;
      cursor: pointer; }
      .user-info .user-activities div i {
        margin-right: 10px;
        font-size: 20px; }
      .user-info .user-activities div.selected {
        color: #fff;
        background-color: #dc315e; }
      .user-info .user-activities div:last-child {
        border-right: none; }
      .user-info .user-activities div span {
        font-weight: bold; }
      .user-info .user-activities div .fa-right-dir {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        border: solid 1px;
        padding: 2px 1px 2px 3px; }

.profile-header {
  margin-top: 38px;
  line-height: 40px; }
  .profile-header div {
    display: inline-block; }
  .profile-header .select-btns {
    float: right; }
    .profile-header .select-btns div {
      color: #0097ce;
      padding: 0 12px;
      margin: 0 10px;
      border: solid 1px;
      border-radius: 4px;
      height: 38px;
      line-height: 38px;
      background-color: #fff;
      cursor: pointer; }
      .profile-header .select-btns div.selected {
        color: #fff;
        background-color: #0097ce; }
      .profile-header .select-btns div:last-child {
        margin-right: 0; }
    .profile-header .select-btns .share-btn {
      color: #3b5997; }
      .profile-header .select-btns .share-btn i {
        font-size: 26px;
        line-height: 38px;
        vertical-align: top; }
      .profile-header .select-btns .share-btn.selected {
        color: #fff;
        background-color: #3b5997; }
  .profile-header .assessment-heading {
    font-size: 20px;
    font-weight: bold; }

.main-content {
  padding: 0 40px 100px 40px;
  box-sizing: border-box;
  background-color: #fff;
  margin-top: 15px; }
  .main-content .heading {
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #696969;
    padding: 35px 50px 5px 0px;
    position: relative;
    line-height: 38px; }
    .main-content .heading img {
      position: absolute;
      width: 50px;
      top: 0;
      right: 0; }
  .main-content .strengths {
    margin-top: 25px;
    color: #989898;
    font-weight: bold; }
    .main-content .strengths ul {
      display: inline-block;
      vertical-align: top;
      margin: 0;
      padding-left: 5px; }
      .main-content .strengths ul li {
        display: inline-block;
        padding: 0 12px;
        color: #0097ce;
        font-weight: normal; }
        .main-content .strengths ul li:before {
          content: '';
          height: 5px;
          width: 5px;
          border-radius: 50%;
          display: inline-block;
          background-color: #0097ce;
          margin: 5px 8px 0 0;
          vertical-align: top; }
  .main-content .eval-desc {
    line-height: 21px;
    margin-top: 35px;
    letter-spacing: 0.2px;
    padding-right: 50px; }
  .main-content .bottom-border {
    padding-bottom: 18px;
    border-bottom: solid 1px #e6e6e6; }
  .main-content .more-about {
    background-color: #fafafa;
    border: 2px solid #ebebeb;
    padding: 40px 60px;
    margin-top: 40px; }
    .main-content .more-about img {
      height: 190px;
      margin-right: 40px; }
    .main-content .more-about .more-text {
      width: 700px;
      height: 190px;
      display: inline-block;
      vertical-align: top;
      position: relative; }
      .main-content .more-about .more-text .wait-text {
        font-size: 24px;
        letter-spacing: 0.4px; }
      .main-content .more-about .more-text .learn-more-text {
        line-height: 22px;
        letter-spacing: 0.2px;
        font-size: 15px; }
      .main-content .more-about .more-text .learn-more {
        position: absolute;
        bottom: 12px;
        background-color: #6cbe5a;
        color: #fff;
        height: 40px;
        border-radius: 4px;
        padding: 0 15px;
        line-height: 40px;
        font-size: 16px;
        font-weight: lighter;
        letter-spacing: 0.2px;
        border-bottom: solid 2px #e9e9e9;
        cursor: pointer; }
  .main-content .interests {
    margin-top: 60px; }
    .main-content .interests .interest-heading {
      font-size: 25px;
      font-weight: bold;
      letter-spacing: 0.2px; }
    .main-content .interests .edit {
      font-size: 15px;
      color: #0097ce;
      float: right;
      font-weight: normal;
      margin-top: 12px;
      cursor: pointer; }
    .main-content .interests .career-int {
      margin-top: 30px;
      text-align: center; }
      .main-content .interests .career-int div {
        display: inline-block;
        margin: 0 60px;
        color: #999;
        font-weight: bold;
        font-size: 15px;
        text-transform: uppercase;
        line-height: 22px; }
      .main-content .interests .career-int i {
        width: 90px;
        height: 90px;
        font-size: 45px;
        border: solid 2px;
        color: #938bc4;
        line-height: 90px;
        border-radius: 50%;
        vertical-align: middle; }
      .main-content .interests .career-int span {
        vertical-align: middle;
        display: inline-block;
        width: 120px;
        text-align: left;
        letter-spacing: 0.4px; }
  .main-content .self-interest {
    padding-top: 20px; }
    .main-content .self-interest div {
      vertical-align: middle;
      display: inline-block;
      letter-spacing: 0.4px; }
    .main-content .self-interest img {
      vertical-align: middle;
      margin: 0 20px; }
    .main-content .self-interest .int-title {
      color: #999;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 0.4px;
      font-weight: bold; }
    .main-content .self-interest .personal-int {
      width: 500px;
      margin-left: 80px; }
      .main-content .self-interest .personal-int div {
        width: 50%;
        color: #0097ce;
        height: 20px; }
        .main-content .self-interest .personal-int div:before {
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          margin: 5px 5px 0 0;
          background-color: #999;
          display: inline-block;
          vertical-align: top; }

/*# sourceMappingURL=style.css.map */
